@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #168582;
  border-radius: 8px;
}