.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 30%;
  --background-site: #168582;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

.embla__button {
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  cursor: pointer;
}

.embla__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .embla {
    --slide-size: 50%;
  }
}

@media (max-width: 640px) {
  .embla {
    --slide-size: 80%;
  }
}
